<nav class="nav-bar noPrint">
    <a routerLink="/about" routerLinkActive="active-link">About</a>
    <a routerLink="/coordinate" routerLinkActive="active-link">Coordinate</a>
    <a routerLink="/tables" routerLinkActive="active-link">Tables</a>
    <a routerLink="/manageColors" routerLinkActive="active-link">Manage Colors</a>
  </nav>
  <section class="header noPrint">
    <div class="logo">
      <img src="/cat_logo.jpg" alt="Logo" />
    </div>
    <div class="company-name">
      <h1>Milly Rock Co.</h1>
    </div>
  </section>