.nav-bar {
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    background-color: #2A4365; 
  }
  
  .nav-bar a {
    color: #e0e0e0;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-bar a:hover,
  .nav-bar a.active-link {
    color: #F8B8BC; 
    font-style: italic;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #98c6eb;
  }
  
  .logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border:#1d1d1f 3px solid;
  }
  
  .company-name {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    font-family: 'Lucida Handwriting', cursive;
  }
  @media print {
    .noPrint{
      display:none;
    }
  }