.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #A1997D;
  }
  
  .logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .company-name {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    font-family: 'Lucida Handwriting', cursive;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    padding: 1rem;
    background-color: #98c6eb;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
  }
  
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem;
}

.error {
    color: #6b0000;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

input {
  width: 90%;
  padding: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: #8E9FA4;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  align-self: center;
  display: flex;
}

button:disabled {
  background-color: #702;
  cursor: not-allowed;
}

body {
  background-color: #e8d297;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-label{
  color: #000000;
}
  
  