.header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #80765c;
  }
  
  .logo img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  
  .company-name {
    flex-grow: 1;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #31302b;
    font-family: 'Lucida Handwriting', cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 250px;
    padding: 1rem;
    background-color: #ffc800;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
  }
  
  input {
    width: 90%;
    padding: 0.5rem;
  }
  
  button {
    padding: 0.5rem;
    background-color: #500;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #702;
    cursor: not-allowed;
  }

  body {
    background-color: #e8d297;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  