section, h1 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
}
.forms{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.add-color-form, .edit-color-form {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 8px 8px 8px 8px#AEB2CF;
    width: 90%;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

