
.team-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    border-radius: 8px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 8px 8px 8px 8px#AEB2CF;
    width: 280px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    border:#1d1d1f 3px solid;
}

.member-name {
    font-size: 1.5rem;
    font-weight: 500;
    color: #1d1d1f;
    margin: 10px 0;
}

.member-bio {
    font-size: 1rem;
    color: #4A5568;
    line-height: 1.5;
}
