<nav>
  <a href="">HOME</a> |
  <a href="">Tables</a>
</nav>
<header>
  <h1> ABOUT US </h1>
</header>
<body>
  <div class="row">
    <div class="column">
      <h2>Charlie Braun</h2>
      <img src="../images/CBraunHeadshot.jpg" alt="Charlie Braun" />
      <p>Hello! I'm Charlie, a Business Administration major. I took the CS minor because i thought learning more about computers would be worthwile, and i'm glad i did! I graduate
        this semester, hopefully that finance pay that'll be coming in soon can fund my weekend ski trips. 
      </p>
    </div>

    <div class="column">
      <h2>Edgar Flores</h2>
    </div>

    <div class="column">
      <h2>Nick Lavelle</h2>
    </div>

    <div class="column">
      <h2>Devin Lucas</h2>
    </div>
  </div>

</body>
<router-outlet /> <!--  important to have -->
