.table-one {
    width: 90%;
    margin: 0 auto;
    background-color: #f9f9f9;
  }
  
  .color-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .color-table td {
    padding: 12px;
    border: 1px solid #ccc;
  }
  
  .left-cell {
    width: 20%;
    font-weight: bold;
  }
  
  .right-cell {
    width: 80%;
  }
  select option:disabled {
    color: #888;
  }

.table-two {
    width: 90%;
    max-width: 100%;
    margin: 20px auto;
    background-color: #ffffff;
    z-index: 0;
    table-layout: fixed;
    border-collapse: collapse;
  }
  .painting-table {
    width: 100%;
    border-collapse: collapse;
    color: #1d1d1f;
    background-color: #ffffff;
    table-layout: fixed;
  }

  .painting-table td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
  }

  .painting-table td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .print-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }

  .print-button:hover {
    background-color: #45a049;
  }
  .onlyPrint{
    display: none;
  }
  .logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 5px;
  }
  body {
    background-color: #e8d297;
    margin: 0;
    padding: 0;
  }
  @media print {
    .noPrint{
      display:none;
    }
    .onlyPrint{
      display: block;
    }
    div {
      filter: grayscale(100%);
    }
    .nav-bar {
      display: none;
    }
    .print-button {
      display: none;
    }
    
  }
  